In [3]:
import datetime

print('어서오세요')

name = input('이름을 입력하세요 : ')
print(f'{name}님 안녕하세요')
birth_year = int(input('생년을 입력하세요 : '))

# 현재 날짜를 str_today 변수에 저장한다.
str_today = str(datetime.date.today())
print(str_today)

# 현재 날짜에서 연도만 추출한다.
now_year = int(str_today.split('-')[0])

# 현재 연도에서 생년을 빼면 나이가 된다.
age = now_year - birth_year

# 출력
print(f'{name}님은 {now_year}년 현재 {age}세 입니다.')

# 성인인지 아닌지..
if (age < 19) :
  print(f'{name}님은 미성년자 입니다.')
else :
  print(f'{name}님은 성인입니다.')

어서오세요
이름을 입력하세요 : 마루집사
마루집사님 안녕하세요
생년을 입력하세요 : 2000
2025-07-18
마루집사님은 2025년 현재 25세 입니다.
마루집사님은 성인입니다.

In [11]:
# 산술 연산자

a = 20

result = a + 10
print(f'덧셈 결과 : a + 10 = {result}')

resutl = a - 10
print(f'뺄셈 결과 : a - 10 = {result}')

result = a * 10
print(f'곱셈 결과 : a * 10 = {result}')

result = a / 3
print(f'나눗셈 결과 : a / 3 = {result}')

result = a // 3
print(f'몫의 연산자 : 10 // 3 = {result}')

result = a % 3
print(f'나머지 연산자 : 10 % 3 = {result}')

덧셈 결과 : a + 10 = 30
뺄셈 결과 : a - 10 = 30
곱셈 결과 : a * 10 = 200
나눗셈 결과 : a / 3 = 6.666666666666667
몫의 연산자 : 10 // 3 = 6
나머지 연산자 : 10 % 3 = 2

In [14]:
# 비교 연산자

result = 10

isTrue = result == 10
print(f'result == 10 의 결과 : {isTrue}')

isTrue = result > 10
print(f'result > 10 의 결과 : {isTrue}')

isTrue = result < 10
print(f'result < 10 의 결과 : {isTrue}')

isTrue = result >= 10
print(f'result >= 10 의 결과 : {isTrue}')

isTrue = result <= 10
print(f'result <= 10 의 결과 : {isTrue}')

isTrue = result != 10
print(f'result != 10 의 결과 : {isTrue}')

result == 10 의 결과 : True
result > 10 의 결과 : False
result < 10 의 결과 : False
result >= 10 의 결과 : True
result <= 10 의 결과 : True
result != 10 의 결과 : False

In [17]:
result = 10
print(f'result 변수의 값 : {result}')

result += 10
print(f'result += 10 실행 후 결과 : {result}')

result -= 10
print(f'result -= 10 실행 후 결과 : {result}')

result *= 10
print(f'result *= 10 실행 후 결과 : {result}')

result //= 10
print(f'result //= 10 실행 후 결과 : {result}')

result %= 10
print(f'result %= 10 실행 후 결과 : {result}')

result 변수의 값 : 10
result += 10 실행 후 결과 : 20
result -= 10 실행 후 결과 : 10
result *= 10 실행 후 결과 : 100
result //= 10 실행 후 결과 : 10
result %= 10 실행 후 결과 : 0

In [23]:
# 논리 연산자

isTrue = True and True
print(f'True and True 의 결과 : {isTrue}')

isTrue = True and False
print(f'True and False 의 결과 : {isTrue}')

isTrue = False and True
print(f'False and True 의 결과 : {isTrue}')

isTrue = False and False
print(f'False and False 의 결과 : {isTrue}')

print('{:-^40}'.format('OR'))

isTrue = True or True
print(f'True or True : {isTrue}')

isTrue = True or False
print(f'True or False : {isTrue}')

isTrue = False or True
print(f'False or True : {isTrue}')

isTrue = False or False
print(f'False or False : {isTrue}')

True and True 의 결과 : True
True and False 의 결과 : False
False and True 의 결과 : False
False and False 의 결과 : False
-------------------OR-------------------
True or True : True
True or False : True
False or True : True
False or False : False

In [25]:
# 삼항 연산자

num = 120
result = "100 보다 크다" if num > 100 else "100 이하이다."
print(result)

# 삼항 연산자에서 즉시 출력
print('True 입니다.') if False else print('False 입니다.')
print('True 입니다.') if True else print('False 입니다.')

100 보다 크다
False 입니다.
True 입니다.

In [28]:
# if문 예제

import sys

name = input('성명 입력 : ')

if len(name) == 0 :
  print('성명을 입력 하지 않았습니다 !')
  sys.exit()

print(f'당신의 이름은 {name}이고 {len(name)}글자 입니다.')

성명 입력 : 마루집사
당신의 이름은 마루집사이고 4글자 입니다.

In [29]:
# if ~ else 문

num = int(input('정수 입력 : '))

print('결과 => ', end='')

if num%2 == 0 :
  print('짝수 입니다.')
else :
  print('홀수 입니다.')

정수 입력 : 22
결과 => 짝수 입니다.

In [30]:
# if 문을 이용해서 유효성 검사

name = input('이름을 입력하세요 : ')

if len(name) == 0 :
  print('Error : 성명을 입력하지 않았습니다.')
else :
  age = int(input('나이를 입력하세요 : '))
  print(f'당신의 이름은 {name}이고, {age}세 입니다.')
  print(f'당신은 10년 후에 {age + 10}세 입니다.')

print('프로그램 종료')

이름을 입력하세요 : 마루집사
나이를 입력하세요 : 28
당신의 이름은 마루집사이고, 28세 입니다.
당신은 10년 후에 38세 입니다.
프로그램 종료

In [31]:
# if ~ else문을 이용하여 데이터 값 구분

integer = int(input('정수를 입력 하세요 : '))

print(integer,':', end='')

if integer == 0 :
  print('\'0\, 입니다.')
if integer == 5 :
  print("\'5\' 입니다.")
elif integer%3==0 :
  print('\'3의 배수\' 입니다.')
else :
  print('3의 배수가 아닙니다.')

정수를 입력 하세요 : 30
30 :'3의 배수' 입니다.

In [32]:
# 다중 if 문

score = int(input('성적 입력 : '))
grade = 'F'

if score >= 90 :
  grade = 'A'
elif score >= 80 :
  grade = 'B'
elif score >= 70 :
  grade = 'C'
elif score > 60 :
  grade = 'D'
else :
  grade = 'F'

print(f'{score}점은 {grade}학점 입니다.')

성적 입력 : 98
98점은 A학점 입니다.

In [33]:
# 중첩 if문 예제

score = int(input('성적 입력 : '))
grade = 'F'

if score < 0 or score > 100 :
  print('Error !')
else :
  if score >= 90 :
    grade = 'A'
  elif score >= 80 :
    grade = 'B'
  elif score >= 70 :
    grade = 'C'
  elif score > 60 :
    grade = 'D'
  else :
    grade = 'F'

  print(f'{score}점은 {grade}학점 입니다.')

성적 입력 : 76
76점은 C학점 입니다.

In [37]:
# while 반복문과 if 조건문 예제

grade = 'F'
score = int(input('성적을 입력하세요 : '))


while not(score in range(0,101)) :
  print('Error !')
  score = int(input('성적을 다시 입력하세요 : '))

if score >= 90 :
  grade = 'A'
elif score >= 80 :
  grade = 'B'
elif score >= 70 :
  grade = 'C'
elif score > 60 :
  grade = 'D'

num = score % 10
if num > 7 :
  grade = str(grade) +'+'
elif num < 3 :
  grade = str(grade) + '-'

print(f'{score}점은 {grade}학점 입니다.')

성적을 입력하세요 : 99
99점은 A+학점 입니다.

In [4]:
# if 문에서 in 연산자 활용

countryList = ['유럽','필리핀','대만','캐나다','호주','미국','베트남']
journey = input('가고 싶은 여행지 입력 : ')

if journey in countryList :
  print(f'{journey}은(는) 여행 가능한 여행지에 있습니다.')
else :
  print(f'{journey}은(는) 여행 가능한 여행지에 없습니다.')

가고 싶은 여행지 입력 : 베트남
베트남은(는) 여행 가능한 여행지에 있습니다.

In [5]:
# while not 조건문 예제

countryList = ['유럽','필리핀','대만','캐나다','호주','미국','베트남']
journey = input('가고 싶은 여행지 입력 : ')

while not(journey in countryList) :
  print(f'{journey}은(는) 여행 가능한 여행지에 없습니다.')
  journey = input('가고 싶은 여행지를 다시 입력 : ')

print(f'{journey}은(는) 여행 가능한 여행지에 있습니다.')

가고 싶은 여행지 입력 : 일본
일본은(는) 여행 가능한 여행지에 없습니다.
가고 싶은 여행지를 다시 입력 : 호주
호주은(는) 여행 가능한 여행지에 있습니다.

In [8]:
# if else 문 응용 예제

while True :
  print('1.입력 2.출력 3.검색 4.수정 5.삭제 6.종료')
  no = int(input('선택 : '))
  if no == 1 :
    print('{:-^50}'.format(' 입력가능 '))
  elif no == 2 :
    print('{:-^50}'.format(' 출력가능 '))
  elif no == 3 :
    print('{:-^50}'.format(' 검색가능 '))
  elif no == 4 :
    print('{:-^50}'.format(' 수정가능 '))
  elif no == 5 :
    print('{:-^50}'.format(' 삭제가능 '))
  elif no == 6 :
    print('{:-^50}'.format(' 종료 '))
    break
  else :
    print('{:-^50}'.format(' 선택 사항 없음 '))
    print()

print('다음 기회에 만나요~')

1.입력 2.출력 3.검색 4.수정 5.삭제 6.종료
선택 : 2
---------------------- 출력가능 ----------------------
1.입력 2.출력 3.검색 4.수정 5.삭제 6.종료
선택 : 4
---------------------- 수정가능 ----------------------
1.입력 2.출력 3.검색 4.수정 5.삭제 6.종료
선택 : 5
---------------------- 삭제가능 ----------------------
1.입력 2.출력 3.검색 4.수정 5.삭제 6.종료
선택 : 6
----------------------- 종료 -----------------------
다음 기회에 만나요~

In [11]:
print(2**16)
print(10/3)
print(10//3)
print(10%3)
print('줄바꿈 문자는 \\n인데 이를 \"개행문자\"라고 한다.')

65536
3.3333333333333335
3
1
줄바꿈 문자는 \n인데 이를 "개행문자"라고 한다.

In [13]:
print('정수를 입력 하면 양수, 음수, 0을 판별합니다.')

num = int(input('정수를 입력하세요. : '))

if num == 0 :
  print('0 입니다.')
elif num > 0 :
  print('양수 입니다.')
elif num < 0 :
  print('음수 입니다.')

정수를 입력 하면 양수, 음수, 0을 판별합니다.
정수를 입력하세요. : 3
양수 입니다.

In [15]:
name = input('성명을 입력하세요 : ')

if len(name) <= 0 :
  print('이름이 입력되지 않았습니다')
else :
  print(f'{name}님 안녕하세요 !')

성명을 입력하세요 : 마루집사
마루집사님 안녕하세요 !

In [16]:
integer = int(input('정수를 입력하세요 : '))
print(f'{integer} : ', end='')

if integer == 0 :
  print('0 입니다')
elif integer == 5 :
  print('5 입니다')
elif integer%3 == 0 :
  print('3의 배수 입니다.')
else :
  print('3의 배수가 아닙니다.')

정수를 입력하세요 : 22
22 : 3의 배수가 아닙니다.

In [20]:
score = int(input('성적입력 : '))
grade = 'F'

if score < 0 or score > 100 :
  print('Error')
else :
  if score >= 90 :
    grade = 'A'
  elif score >= 80 :
    grade = 'B'
  elif score >= 70 :
    grade = 'C'
  elif score >= 60 :
    grade = 'D'
  else :
    grade = 'F'

  print(f'{score}점은 {grade}학점 입니다.')

성적입력 : 70
70점은 C학점 입니다.

In [22]:
score = int(input('성적입력 : '))

while not(0 < score <= 100) :
  print('Error !')
  score = int(input('성적을 다시 입력 하세요. : '))

성적입력 : 101
Error !
성적을 다시 입력 하세요. : 2

In [28]:
money = int(input('10만원 이상의 금액 입력 : '))

won_50000 = money // 50000
won_10000 = (money % 50000) // 10000
won_5000 = ((money % 50000) % 10000) // 5000
won_1000 = (((money % 50000) % 10000) % 5000) // 1000
won_500 = ((((money % 50000) % 10000) % 5000) % 1000) // 500
won_100 = (((((money % 50000) % 10000) % 5000) % 1000) % 500) // 100
won_50 = ((((((money % 50000) % 10000) % 5000) % 1000) % 500) % 100) // 50
won_10 = (((((((money % 50000) % 10000) % 5000) % 1000) % 500) % 100) % 50) // 10
won_5 = ((((((((money % 50000) % 10000) % 5000) % 1000) % 500) % 100) % 50) % 10) // 5
won_1 = ((((((((money % 50000) % 10000) % 5000) % 1000) % 500) % 100) % 50) % 10) % 5

print('{:-^30}'.format('결과'))
print(won_50000)
print(won_10000)
print(won_5000)
print(won_1000)
print(won_500)
print(won_100)
print(won_50)
print(won_10)
print(won_5)
print(won_1)

10만원 이상의 금액 입력 : 137832
--------------결과--------------
2
3
1
2
1
3
0
3
0
2

In [29]:
city = input('사는 도시 입력 : ')

cities = ['대전','대구','부산','광주','울산','인천']

if city in cities :
  print(f'{city}은(는) 광역시입니다.')

사는 도시 입력 : 광주
광주은(는) 광역시입니다,

In [37]:
while True:
    word = input('검색어 입력 : ')

    if word == 'stop':
        print('프로그램을 종료합니다.')
        break
    elif len(word) <= 2:
        print('검색어가 너무 짧습니다.')
    elif len(word) >= 10:
        print('검색어가 너무 깁니다.')
    else:
        print(word)

검색어 입력 : 아이스크림
아이스크림
검색어 입력 : stop
프로그램을 종료합니다.