In [1]:
# 변수 : 어떠한 값에 이름을 붙임

pi = 3.141592 # 정의와 할당이 동시에
print(pi)
print(pi+2)

3.141592
5.141592

In [2]:
pi = 3.14159265
r = 10

print(f'원주율 : {pi}')
print(f'반지름 : {r}')
print(f'넓이 : {pi*r*r}')

원주율 : 3.14159265
반지름 : 10
넓이 : 314.159265

In [5]:
# 복합 대입 연산자

a = 1
a += 1

print(a)

number = 100
number += 10
number += 20
number += 30

print(f'number : {number}')

2
number : 160

In [6]:
string = '안녕하세요'
string += '!'
string += '!'

print(f'string : {string}')

string : 안녕하세요!!

In [10]:
# input 함수
print(input('입력해주세요 >>> '))

a = input('이름을 입력해주세요: ')
print(f'a: {a}')

입력해주세요 >>> hello
hello
이름을 입력해주세요: maru
a: maru

In [11]:
a = input('num1: ')
b = input('num2: ')

print(f'a + b : {a+b}')

num1: 10
num2: 20
a + b : 1020

In [12]:
a = int(input('num1: '))
b = int(input('num2: '))

print(f'a + b : {a+b}')

num1: 10
num2: 20
a + b : 30

In [13]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [16]:
num = 12
print(type(num))
str_num = str(num)
print(type(str_num))

<class 'int'>
<class 'str'>

In [18]:
# 입력 : inch 단위
inch_a = input('inch 단이 입력 >>> ')

# 처리 : inch -> cm
cm_a = float(inch_a) * 2.54

# 출력 : cm 단위
print(f'{inch_a} inch = {cm_a} cm')

inch 단이 입력 >>> 30
30 inch = 76.2 cm

In [20]:
str_input = input('원의 반지름 입력 >>> ')
num_input = float(str_input)
print()

print(f'반지름: {num_input}')
print(f'둘레: {2*3.14*num_input}')
print(f'넓이: {num_input*num_input*3.14}')

원의 반지름 입력 >>> 10

반지름: 10.0
둘레: 62.800000000000004
넓이: 314.0