In [1]:
# 주석 입니다

# Hello world 출력 코드
print('Hello world')

Hello world

In [2]:
# 하나 출력하기
print('안녕하세요')
print(10)

# 여러 개 출력
print(10,20,30)

# 줄바꿈하기
print()

안녕하세요
10
10 20 30

In [3]:
# 기본 코드

print('# 하나만 출력합니다.')
print('Hello Python Programming...!')
print()

print('# 여러 개를 출력합니다.')
print(10,20,30,40)
print('안녕하세요','여러분','파이썬을','공부합시다')
print()

print('아무것도 출력하지 않습니다')
print('-----확인선-----')
print()
print()
print('-----확인선-----')

# 하나만 출력합니다.
Hello Python Programming...!

# 여러 개를 출력합니다.
10 20 30 40
안녕하세요 여러분 파이썬을 공부합시다

아무것도 출력하지 않습니다
-----확인선-----


-----확인선-----

In [4]:
# 자료형 확인
# type() 함수 사용

print(type('안녕하세요'))
print(type(12))
print(type(3.14))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [5]:
# 문자열 만들기 -> 큰/작은 따옴표 사용
'안녕하세요'
"안녕하세요"

# 따옴표도 출력하기
# 1. 감싸주는 따옴표를 다른걸로..
print('"안녕하세요"라고 말 했습니다.')

# 2. 이스케이프 문자 사용
print('\'안녕하세요\'라고 말 했습니다.')

# 이스케이프 문자 활요
print('안녕\n하세요')
print('안녕\t하세요')
print('안녕\\하세요')

print()
# 표처럼 ...
print('이름\t나이\t색상')
print('마루\t2\t아이보리')
print('석탄\t3\t검정')

print()
# 긴 문장
# 여러 줄 문자열
print('-'*50)
print("""
동해물과 백두산이 마르고 닳도록
하느님이 보우하사
우리나라 만세.
무궁화 삼천리 화려 강산
대한 사람 대한으로 길이
보전하세
""")
print('-'*50)
print("""동해물과 백두산이 마르고 닳도록
하느님이 보우하사
우리나라 만세.
무궁화 삼천리 화려 강산
대한 사람 대한으로 길이
보전하세""")
print('-'*50)
print("""\
동해물과 백두산이 마르고 닳도록
하느님이 보우하사
우리나라 만세.
무궁화 삼천리 화려 강산
대한 사람 대한으로 길이
보전하세\
""")
print('-'*50)
print()

print\
(1,2,3)

"안녕하세요"라고 말 했습니다.
'안녕하세요'라고 말 했습니다.
안녕
하세요
안녕	하세요
안녕\하세요

이름	나이	색상
마루	2	아이보리
석탄	3	검정

--------------------------------------------------

동해물과 백두산이 마르고 닳도록
하느님이 보우하사
우리나라 만세.
무궁화 삼천리 화려 강산
대한 사람 대한으로 길이
보전하세

--------------------------------------------------
동해물과 백두산이 마르고 닳도록
하느님이 보우하사
우리나라 만세.
무궁화 삼천리 화려 강산
대한 사람 대한으로 길이
보전하세
--------------------------------------------------
동해물과 백두산이 마르고 닳도록
하느님이 보우하사
우리나라 만세.
무궁화 삼천리 화려 강산
대한 사람 대한으로 길이
보전하세
--------------------------------------------------

1 2 3

In [6]:
# 문자열 연산자

# 문자열 연결 연산자
print('안녕'+'하세요')

# 문자열 반복 연산자
print('안녕'*3)

# 문자 선택 연산자
# 문자열[]
# 문자열[ : ]
# 문자열[ : : ]
print('안녕하세요'[0])
print('안녕하세요'[1:3])
print('안녕하세요'[0::2])
print('안녕하세요'[-1])
print('안녕하세요'[:3])
print('안녕하세요'[1:4:2]) # 녕세
print('0123456789'[::5])

안녕하세요
안녕안녕안녕
안
녕하
안하요
요
안녕하
녕세
05

In [7]:
print('안녕하세요'[0]) # 안
print('안녕하세요'[2]) # 하
print('안녕하세요'[4]) # 요
print('안녕하세요'[-1]) # 요

print('안녕하세요'[0:1]) # 안
print('안녕하세요'[0:2]) # 안녕
print('안녕하세요'[2:3]) # 하

print('안녕하세요'[2:]) # 하세요
print('안녕하세요'[:]) # 안녕하세요

안
하
요
요
안
안녕
하
하세요
안녕하세요

In [8]:
# IndexError
print('안녕하세요'[100])

IndexError: string index out of range

In [1]:
print('안녕하세요'[1:100])

# 슬라이싱에는 IndexError가 발생하지 않는다.

녕하세요

In [2]:
# 문자열의 길이
print(len('안녕하세요')) # 5

5

In [3]:
print(type(0))
print(type(0.0))

<class 'int'>
<class 'float'>

In [4]:
print(10+10)
print(10-10)
print(10*10)
print(10/3) # 결과가 부동소수로 나타남
print(10%3) # 나머지
print(10//3) # 몫 (정수 나눗셈)
print(10**3) # 제곱

20
0
100
3.3333333333333335
1
3
1000

In [5]:
# 부동소수점과 부동소수점 연산

print(10.0+10.0)
print(10.0-10.0)
print(10.0*10.0)
print(10.0/10.0)
print(10.0%10.0)
print(10.0**10.0)
print(10.0//3.0) # 대충 설계해서 이상한 값이 나옴

20.0
0.0
100.0
1.0
0.0
10000000000.0
3.0

In [6]:
print('안녕'+4)

TypeError: can only concatenate str (not "int") to str

In [12]:
# 연산자 우선순위

print(2+2*2)
print((2+2)*2)
print(4**(1/2))
print(8**(1/3))

6
8
2.0
2.0

In [14]:
print(0.1+0.2)
print(0.1+0.2 == 0.3) # 정확도가 떨어짐

0.30000000000000004
False