In [1]:
# 승수 연산자를 이용해서 2의 16승을 연산
print(2 ** 16)

# 결과 값이 실수형
print(10/3)

# 결과 값이 정수형
print(10//3)

65536
3.3333333333333335
3

In [2]:
# 문자열 연산

print('Hello' + "python")
print("Hello ~" * 3)

Hellopython
Hello ~Hello ~Hello ~

In [3]:
# 문자열 슬라이싱

str1 = 'Hello Python World'

print(str1[6])
print(str1[6:])
print(str1[:6])
print(str1[-5])

P
Python World
Hello
W

In [7]:
# 인덱싱을 이용해서 새로운 문자열 만들기

str2 = "Hello world!"
idx = str2.index("world") # str2에 저장된 문자열에서 "world" 단어가 위치한 시작 index를 찾는다
print(str2[:idx])
print(str2[idx:])

str2 = str2[:idx] + "python " + str2[idx:]
print(str2)

# 인덱스에 음수를 사용하면 문자열 끝에서부터 인덱싱한다.
print(str2[2:-3])

Hello
world!
Hello python world!
llo python wor

In [8]:
# format() 함수를 이용한 문자열 처리
print("{:-^50}".format("사랑"))
print("{:&<50}".format("사랑"))
print("{:*>50}".format("사랑"))

name = "홍길동"
age = 45
info = f"성명 : {name} | 나이 : {age}"
print(info)

------------------------사랑------------------------
사랑&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
************************************************사랑
성명 : 홍길동 | 나이 : 45

In [10]:
# format() 함수를 이용한 여러 행 문자열 처리

multiline = '''여러행 문자열
우리나라는 {}이다.
서기 {}년{}월{}일'''.format("대한민국",2018,4,12)

print(multiline)

여러행 문자열
우리나라는 대한민국이다.
서기 2018년4월12일

In [13]:
# 형식 지정자를 이용해서 소수점 아래 4번째 자리에서 반올림
print("%0.4f" %(2.555555))

# 형식 지정자를 이용해서 공간을 10칸 확보하고 정수를 오른쪽 정렬
print("%+10d" %100)

# 형식 지정자를 이용해서 여러 데이터 문자열에 삽입
print("성명 : %s, 나이 : %d\n" %("이순신",55))

2.5556
      +100
성명 : 이순신, 나이 : 55

In [21]:
# 이스케이프 코드

print("줄\n바\n꿈")
print('파이썬 \'따옴표\' 출력')
print('널문자 : \000')
print('탭\t키')
print("역슬레시 출력 : \\" )

줄
바
꿈
파이썬 '따옴표' 출력
널문자 :  
탭	키
역슬레시 출력 : \

In [22]:
print(type(365))
print(type('hello'))
print(type(True))
print(type([1,2,3]))
print(type({'no':1,'name':'kim'}))
print(type(print))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'builtin_function_or_method'>

In [23]:
print("Hello"+"Python")
print("Hello"*5)

HelloPython
HelloHelloHelloHelloHello

In [24]:
str1 = 'Hello Python World'

print(str1[6]) # P
print(str1[6:]) # Python World
print(str1[:6]) # Hello
print(str1[-5]) # W

P
Python World
Hello
W

In [26]:
str2 = "Hello World"
idx = str2.index("World") # 6
str2 = str2[:idx] + "Python " + str2[idx:] + '!'

print(str2)

Hello Python World!

In [27]:
print('{:-^50}'.format('사랑'))

------------------------사랑------------------------

In [30]:
multiline = '''여러행의 문자열
마루는 {}이다.
마루는 {}년{}월{}일에 우리집에 왔다.'''.format("진돗개",2023,12,21)

print(multiline)

여러행의 문자열
마루는 진돗개이다.
마루는 2023년12월21일에 우리집에 왔다.

In [32]:
num = int(input('정수 입력 : '))

print(bin(num))
print(oct(num))
print(hex(num))

정수 입력 : 256
0b100000000
0o400
0x100

In [4]:
str1 = input('Hello python world 입력하세요 : ')
idx = str1.index("python")

str2 = str1[:idx] + "happy " + str1[13:]

print('{:-^50}'.format('결과'))
print(str2)

Hello python world 입력하세요 : Hello python world
------------------------결과------------------------
Hello happy world

In [6]:
name = input('이름 입력 : ')
job = input('직업 입력 : ')
addr = input('사는 곳 입력 : ')
feature = input('특이 사항 입력 : ')

print('{:-^30}'.format('결과'))
print('이름{:->30}'.format(name))
print('직업{:>30}'.format(job))
print('주소{:->30}'.format(addr))
print('특이사항{:->30}'.format(feature))

이름 입력 : 홍길동
직업 입력 : 개발자
사는 곳 입력 : 제주도
특이 사항 입력 : 강아지랑 같이 산다
--------------결과--------------
이름---------------------------홍길동
직업                           개발자
주소---------------------------제주도
특이사항--------------------강아지랑 같이 산다