In [3]:
import datetime

print('어서오세요')

name = input('이름을 입력하세요 : ')
print(f'{name}님 안녕하세요')
birth_year = int(input('생년을 입력하세요 : '))

# 현재 날짜를 str_today 변수에 저장한다.
str_today = str(datetime.date.today())
print(str_today)

# 현재 날짜에서 연도만 추출한다.
now_year = int(str_today.split('-')[0])

# 현재 연도에서 생년을 빼면 나이가 된다.
age = now_year - birth_year

# 출력
print(f'{name}님은 {now_year}년 현재 {age}세 입니다.')

# 성인인지 아닌지..
if (age < 19) :
  print(f'{name}님은 미성년자 입니다.')
else :
  print(f'{name}님은 성인입니다.')

어서오세요
이름을 입력하세요 : 마루집사
마루집사님 안녕하세요
생년을 입력하세요 : 2000
2025-07-18
마루집사님은 2025년 현재 25세 입니다.
마루집사님은 성인입니다.

In [11]:
# 산술 연산자

a = 20

result = a + 10
print(f'덧셈 결과 : a + 10 = {result}')

resutl = a - 10
print(f'뺄셈 결과 : a - 10 = {result}')

result = a * 10
print(f'곱셈 결과 : a * 10 = {result}')

result = a / 3
print(f'나눗셈 결과 : a / 3 = {result}')

result = a // 3
print(f'몫의 연산자 : 10 // 3 = {result}')

result = a % 3
print(f'나머지 연산자 : 10 % 3 = {result}')

덧셈 결과 : a + 10 = 30
뺄셈 결과 : a - 10 = 30
곱셈 결과 : a * 10 = 200
나눗셈 결과 : a / 3 = 6.666666666666667
몫의 연산자 : 10 // 3 = 6
나머지 연산자 : 10 % 3 = 2

In [14]:
# 비교 연산자

result = 10

isTrue = result == 10
print(f'result == 10 의 결과 : {isTrue}')

isTrue = result > 10
print(f'result > 10 의 결과 : {isTrue}')

isTrue = result < 10
print(f'result < 10 의 결과 : {isTrue}')

isTrue = result >= 10
print(f'result >= 10 의 결과 : {isTrue}')

isTrue = result <= 10
print(f'result <= 10 의 결과 : {isTrue}')

isTrue = result != 10
print(f'result != 10 의 결과 : {isTrue}')

result == 10 의 결과 : True
result > 10 의 결과 : False
result < 10 의 결과 : False
result >= 10 의 결과 : True
result <= 10 의 결과 : True
result != 10 의 결과 : False

In [17]:
result = 10
print(f'result 변수의 값 : {result}')

result += 10
print(f'result += 10 실행 후 결과 : {result}')

result -= 10
print(f'result -= 10 실행 후 결과 : {result}')

result *= 10
print(f'result *= 10 실행 후 결과 : {result}')

result //= 10
print(f'result //= 10 실행 후 결과 : {result}')

result %= 10
print(f'result %= 10 실행 후 결과 : {result}')

result 변수의 값 : 10
result += 10 실행 후 결과 : 20
result -= 10 실행 후 결과 : 10
result *= 10 실행 후 결과 : 100
result //= 10 실행 후 결과 : 10
result %= 10 실행 후 결과 : 0

In [23]:
# 논리 연산자

isTrue = True and True
print(f'True and True 의 결과 : {isTrue}')

isTrue = True and False
print(f'True and False 의 결과 : {isTrue}')

isTrue = False and True
print(f'False and True 의 결과 : {isTrue}')

isTrue = False and False
print(f'False and False 의 결과 : {isTrue}')

print('{:-^40}'.format('OR'))

isTrue = True or True
print(f'True or True : {isTrue}')

isTrue = True or False
print(f'True or False : {isTrue}')

isTrue = False or True
print(f'False or True : {isTrue}')

isTrue = False or False
print(f'False or False : {isTrue}')

True and True 의 결과 : True
True and False 의 결과 : False
False and True 의 결과 : False
False and False 의 결과 : False
-------------------OR-------------------
True or True : True
True or False : True
False or True : True
False or False : False

In [25]:
# 삼항 연산자

num = 120
result = "100 보다 크다" if num > 100 else "100 이하이다."
print(result)

# 삼항 연산자에서 즉시 출력
print('True 입니다.') if False else print('False 입니다.')
print('True 입니다.') if True else print('False 입니다.')

100 보다 크다
False 입니다.
True 입니다.

In [28]:
# if문 예제

import sys

name = input('성명 입력 : ')

if len(name) == 0 :
  print('성명을 입력 하지 않았습니다 !')
  sys.exit()

print(f'당신의 이름은 {name}이고 {len(name)}글자 입니다.')

성명 입력 : 마루집사
당신의 이름은 마루집사이고 4글자 입니다.

In [29]:
# if ~ else 문

num = int(input('정수 입력 : '))

print('결과 => ', end='')

if num%2 == 0 :
  print('짝수 입니다.')
else :
  print('홀수 입니다.')

정수 입력 : 22
결과 => 짝수 입니다.

In [30]:
# if 문을 이용해서 유효성 검사

name = input('이름을 입력하세요 : ')

if len(name) == 0 :
  print('Error : 성명을 입력하지 않았습니다.')
else :
  age = int(input('나이를 입력하세요 : '))
  print(f'당신의 이름은 {name}이고, {age}세 입니다.')
  print(f'당신은 10년 후에 {age + 10}세 입니다.')

print('프로그램 종료')

이름을 입력하세요 : 마루집사
나이를 입력하세요 : 28
당신의 이름은 마루집사이고, 28세 입니다.
당신은 10년 후에 38세 입니다.
프로그램 종료

In [31]:
# if ~ else문을 이용하여 데이터 값 구분

integer = int(input('정수를 입력 하세요 : '))

print(integer,':', end='')

if integer == 0 :
  print('\'0\, 입니다.')
if integer == 5 :
  print("\'5\' 입니다.")
elif integer%3==0 :
  print('\'3의 배수\' 입니다.')
else :
  print('3의 배수가 아닙니다.')

정수를 입력 하세요 : 30
30 :'3의 배수' 입니다.

In [32]:
# 다중 if 문

score = int(input('성적 입력 : '))
grade = 'F'

if score >= 90 :
  grade = 'A'
elif score >= 80 :
  grade = 'B'
elif score >= 70 :
  grade = 'C'
elif score > 60 :
  grade = 'D'
else :
  grade = 'F'

print(f'{score}점은 {grade}학점 입니다.')

성적 입력 : 98
98점은 A학점 입니다.

In [33]:
# 중첩 if문 예제

score = int(input('성적 입력 : '))
grade = 'F'

if score < 0 or score > 100 :
  print('Error !')
else :
  if score >= 90 :
    grade = 'A'
  elif score >= 80 :
    grade = 'B'
  elif score >= 70 :
    grade = 'C'
  elif score > 60 :
    grade = 'D'
  else :
    grade = 'F'

  print(f'{score}점은 {grade}학점 입니다.')

성적 입력 : 76
76점은 C학점 입니다.

In [37]:
# while 반복문과 if 조건문 예제

grade = 'F'
score = int(input('성적을 입력하세요 : '))


while not(score in range(0,101)) :
  print('Error !')
  score = int(input('성적을 다시 입력하세요 : '))

if score >= 90 :
  grade = 'A'
elif score >= 80 :
  grade = 'B'
elif score >= 70 :
  grade = 'C'
elif score > 60 :
  grade = 'D'

num = score % 10
if num > 7 :
  grade = str(grade) +'+'
elif num < 3 :
  grade = str(grade) + '-'

print(f'{score}점은 {grade}학점 입니다.')

성적을 입력하세요 : 99
99점은 A+학점 입니다.