In [ ]:
print(":::나는 65세까지 몇년 남았을까 .. ? :::")

user = input('성명 입력 : ')
age = int(input('나이 입력 : '))
futureAge = 65 - age

print("{:-^30}".format('입력 정보 확인'))
print(f'{user}님은 65세까지 {futureAge}년 남았습니다.')

:::나는 65세까지 몇년 남았을까 .. ? :::
성명 입력 : 마루집사
나이 입력 : 27
-----------입력 정보 확인-----------
마루집사님은 65세까지 38년 남았습니다.

In [ ]:
height = 160
name = '리바이'
print(f"{name}님은 키가 {height}cm 입니다.")

리바이님은 키가 160cm 입니다.

In [ ]:
# math 모듈에 정의된 상수들

import math

pi = math.pi
print(f"pi => {pi}")

# 자연 로그의 밑 e 상수
e = math.e
print(f"e => {e}")

pi => 3.141592653589793
e => 2.718281828459045

In [ ]:
# 변수를 선언하고 데이터 초기화

name = 'Python'
age = 29

# 변수에 담긴 데이터 사용
print(f'성명은 {name} 입니다.')
print(f'나이는 {age}살 입니다')

성명은 Python 입니다.
나이는 29살 입니다

In [ ]:
# 변수 선언과 동시에 데이터 초기화
name = 'JAVA'
age = 25

# 선언된 변수에 새로운 데이터 입력
name = 'PYTHON'
age = 29

# 변수에 담긴 데이터 사용
print(f'성함은 {name} 입니다.')
print(f'나이는 {age}살 입니다.')

성함은 PYTHON 입니다.
나이는 29살 입니다.

In [ ]:
# input 합수로 문자열 입력받기

user_name = input('사용자 이름 입력 : ')
print(f'입력받은 사용자 이름 => {user_name}')

# input 함수는 문자열 입력 가능. 수치 자료는 입력 데이터를 형변환 해야 함
age = input('나이를 입력하세요 : ')
print(f'형변환 전 : {type(age)}')
age = int(age)
print(f'형변환 후 : {type(age)}')

사용자 이름 입력 : 마루집사
입력받은 사용자 이름 => 마루집사
나이를 입력하세요 : 12
형변환 전 : <class 'str'>
형변환 후 : <class 'int'>

In [ ]:
# 문자열 데이터 입력

# 키보드로부터 데이터 입력받기
user_name = input('사용자 이름 입력 : ')

# 변수에 입력된 내용 출력
print(f'입력된 사용자 이름 : {user_name}')

사용자 이름 입력 : 마루집사
입력된 사용자 이름 : 마루집사

In [ ]:
# input 데이터로 입력받은 것은 무조건 문자열 타입
# 숫자 타입은 int()함수 또는 float()함수로 형 변환 해야합니다

num1 = input('num1 입력 : ')
print(type(num1))

# 정수 두 개를 키보드로 입력받아서 더하는 프로그램
a = int(input('정수 a 입력 : '))
b = int(input('정수 b 입력 : '))
print(f'a + b = {a+b}')

num1 입력 : 1
<class 'str'>
정수 a 입력 : 2
정수 b 입력 : 3
a + b = 5

In [ ]:
# 파이썬 언어에서 변수 타입은 입력되는 데이터의 타입으로 결정
# 변수에는 어떤 타입이든 담을 수 있음

result = 5 + 3
print(type(result))

result = "HONG"
print(type(result))

<class 'int'>
<class 'str'>

In [ ]:
# 변수 var01에 문자열 데이터를 대입하고 값과 타입 확인
var01 = 'Korea'
print(f'var01 : {var01}')
print(f'type : {type(var01)}')

# 변수 var01에 새로 정수형 데이터를 대입하고 값과 타입 확인
var01 = 3000
print(f'var01 : {var01}')
print(f'type : {type(var01)}')

# 변수 var01에 다시 새로 실수형 데이터를 대입하고 값과 타입 확인
var01 = 3.14
print(f'value : {var01}')
print(f'type : {type(var01)}')

var01 : Korea
type : <class 'str'>
var01 : 3000
type : <class 'int'>
value : 3.14
type : <class 'float'>

In [ ]:
name = input('성명 입력 >> ')
korea_score = input('국어 성적 >> ')
math_score = input('수학 성적 >> ')
english_score = input('영어 성적 >> ')
mean_score = (int(korea_score) + int(math_score) + int(english_score))/3

print('{:-^30}'.format('성적 계산 결과'))
print(f'성명 : {name}')
print(f'국어 : {korea_score}')
print(f'수학 : {math_score}')
print(f'영어 : {english_score}')
print(f'평균 : {mean_score}')

성명 입력 >> 권하마루
국어 성적 >> 80
수학 성적 >> 86
영어 성적 >> 100
-----------성적 계산 결과-----------
성명 : 권하마루
국어 : 80
수학 : 86
영어 : 100
평균 : 88.66666666666667

In [ ]:
import math

pi = math.pi
r = int(input('원의 반름 : '))
print(f'반지름이 {r}인의원 둘레의 길이는 {2 * pi * r}이고 넓이는 {pi * r * r} 입니다.')

원의 반름 : 10
반지름이 10인의원 둘레의 길이는 62.83185307179586이고 넓이는 314.1592653589793 입니다.

In [ ]:
a = int(input('정수 입력 : '))
b = int(input('정수 입력 : '))
c = int(input('정수 입력 : '))

num_max = max(a,b,c)
num_min = min(a,b,c)

print(f"가장 큰 수는 {num_max} 입니다.")
print(f"자가장 작은 수는 {num_min}입니다.")

정수 입력 : 1
정수 입력 : 2
정수 입력 : 3
가장 큰 수는 3 입니다.
자가장 작은 수는 1입니다.

In [ ]:
p = int(input("평을 입력요세요 : "))
pp = p * 3.3058

print(f"{p}평은 {pp}제곱미터 입니다")

평을 입력요세요 : 24
24평은 79.3392제곱미터 입니다

In [ ]:
name = input('이름을 입력하세요 : ')
email = input('이메일을 입력하세요 : ')
addr = input('주소를 잊력하세여 : ')
phone = input("핸드폰 번호를 입력하세요 : ")

print("{:-^30}".format("입력 확인"))
print(f'이름 : {name}')
print(f'이메일 : {email}')
print(f'주소 : {addr}')
print(f'핸드폰 번호 : {phone}')

이름을 입력하세요 : 마루집사
이메일을 입력하세요 : maru12@exam.com
주소를 잊력하세여 : 멍월드 마루똥시
핸드폰 번호를 입력하세요 : 123-456-789
------------입력 확인-------------
이름 : 마루집사
이메일 : maru12@exam.com
주소 : 멍월드 마루똥시
핸드폰 번호 : 123-456-789