### 변수 📦
- a = 3 : 등호 왼쪽에 있는 것을 등호 오른쪽에 담는다 라는 의미

### 숫자형 🔢
- 정수형 (int)
- 실수형 (float)
- 컴퓨터 지수 표현 방식
- 8진수
- 16진수

In [1]:
a = 123
print(type(a))

<class 'int'>

In [2]:
a = 1.2
print(type(a))

<class 'float'>

In [4]:
a = 4.24E10
print(a)

42400000000.0

In [5]:
a = 0o177
print(a)

127

In [6]:
a = 0x8ff
print(a)

2303

In [10]:
# 사칙연산
a = 3
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) # 몫
print(a%b) # 나머지
print(a**b) # a의 b제곱

7
-1
12
0.75
0
3
81

## 문자형 자료형 🆎

In [1]:
a = "Life is short, You need Python"
b = 'a'
c = """123"""

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

## 이스케이프 코드
- 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 '문자 조합'을 말한다. 주로 출력물을 보기 좋게 정렬하는 용도로 사용

- \\n	: 문자열 안에서 줄을 바꿀 때 사용
- \\t	: 문자열 사이에 탭 간격을 줄 때 사용
- \\\\	: \를 그대로 표현할 때 사용
- \\'	: 작은따옴표(')를 그대로 표현할 때 사용
- \\"	: 큰따옴표(")를 그대로 표현할 때 사용
- \\r	: 캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)
- \\f	: 폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)
- \\a	: 벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)
- \\b	: 백 스페이스
- \\000	: 널 문자

In [2]:
# 따옴표 출력하기
a = "Life is short, You need \"Python\""
print(a)

Life is short, You need "Python"

In [3]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때

# 이스케이프 코드 \n 사용
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [4]:
a = """Life is too short
You need python"""

print(a)

Life is too short
You need python

In [7]:
# 문자열연산하기

head = "python"
tail = " is fun !"

print(head + tail)
print(head * 3)

python is fun !
pythonpythonpython

In [8]:
# 문자열 곱하기 응용

print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

In [9]:
a = "Life is too short"
print(len(a))

17

## 문자열의 인덱싱과 슬라이싱

### 문자열의 인덱싱
- 문자열 안에 있는 각 문자에 번호(인덱스)를 붙여서 특정 위치의 문자를 가져오는 것

### 슬라이싱
-  문자열의 일부분을 잘라내는 방법이에요. 인덱스를 사용해서 원하는 범위만 뽑아낼 수 있다.
- a[b:c] -> b 이상 c 미만의 인덱스까지...
- a[b:c:d] -> b 이상 c 미만 인덱스까지, d 간격으로

In [ ]:
# 문자열 인덱싱

a = "Life is too short, You need Python"

print(a[3])
print(a[0])
print(a[12])
print(a[-1])
print(a[-2])
print(a[-34])

e
L
s
n
o
L

In [20]:
# 문자열 슬라이싱

a = "Life is too short, You need Python"
b = a[:4]
c = a[19:]
d = a[::2]
e = a[::-1]
f = a[19:-7]

print(b)
print(c)
print(d)
print(e)
print(f)

Life
You need Python
Lf stosot o edPto
nohtyP deen uoY ,trohs oot si efiL
You need

## 문자열 포맷 코드

- %s	: 문자열(String)
- %c	: 문자 1개(character)
- %d	: 정수(Integer)
- %f	: 부동소수(floating-point)
- %o	: 8진수
- %x	: 16진수
- %%	: Literal % (문자 % 자체)

- 재미있는 것은 %s 포맷 코드인데, 이 코드에는 어떤 형태의 값이든 변환해 넣을 수 있다.

In [21]:
# 문자열 포매팅

a = "I ate %d apples" % 6
print(a)

I ate 6 apples

In [24]:
num = 3

a = "I ate %d apples" % num
print(a)

I ate 3 apples

In [25]:
num = 3
day = "three"

a = "I ate %d apples. so I was sick for %s days" % (num, day)
print(a)

I ate 3 apples. so I was sick for three days

In [23]:
# 문자열 포매팅

a = "I ate %s apples" % "five"
print(a)

I ate five apples

In [ ]:
# 포멧 코드와 숫자 사용해보기

a = "%10s" % "hi" # hi까지 10칸을 맞춰서 출력된다.

print(a)

        hi

In [ ]:
# 포멧 코드와 숫자 사용해보기

a = "%-10s" % "hi" # hi가 맨 앞에 오고 뒤에 8칸 ..

print(a)

hi

In [29]:
# 소수점 표현하기

a = "%0.4f" % 3.42134234

print(a)

3.4213

In [31]:
a = "I eat {0} apples".format(3)
print(a)

print("I eat {0} apples".format("five"))

I eat 3 apples
I eat five apples

In [32]:
number = 3
print("I eat {0} apples".format(number))

I eat 3 apples

In [34]:
number = 10
day = "three"

print("I ate {0} apples. so I was sick for {1} days.".format(number, day))
print("I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3))

I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for 3 days.

In [35]:
number = 10
day = "three"

print("I ate {1} apples. so I was sick for {0} days.".format(number, day))

I ate three apples. so I was sick for 10 days.

In [ ]:
# 왼쪽 정렬
print("{0:>10}".format("hi"))
#오른쪽 정렬
print("{0:<10}".format("hi"))
# 가운데 정렬
print("{0:^10}".format("hi"))

        hi
hi
    hi

In [42]:
# 공백 채우기

print("{0:=^10}".format("hi"))
print("{0:*<10}".format("hi"))

====hi====
hi********

In [43]:
# 소수점 표기

y = 3.42134234
print("{0:0.4f}".format(y))

3.4213

In [45]:
# f문자열 포매팅

name = "홍길동"
age = 30

a = f'나의 이름은 {name}입니다. 나이는 {age}살 입니다.'

print(a)
print(f"내년 이면 {age+1}살 입니다")

나의 이름은 홍길동입니다. 나이는 30살 입니다.
내년 이면 31살 입니다

In [48]:
# 왼쪽 정렬
a = f'{"hi":<10}'
print(a)

# 오른쪽 정렬
a = f'{"hi":>10}'
print(a)

# 가운데 정렬
a = f'{"hi":^10}'
print(a)

hi
        hi
    hi

In [49]:
y = 3.42134234

a = f'{y:0.4f}'
print(a)

3.4213

## 문자열 함수들
- 문자열 자료형은 자체적으로 함수를 가지고 있다. 이들 함수를 다른 말로 '문자열 내장 함수'라고 한다
- 이 내장 함수를 사용하려면 문자열 변수 이름 뒤에 '.'를 붙인 후 함수 이름을 써 주면 된다.

In [50]:
a = 'hobby'
print(a.count('b'))

2

In [ ]:
a = 'hobby'
print(a.find('b')) # 처음 인덱스

2

In [52]:
a = 'hobby'
print(a.find('x')) # -1

-1

In [54]:
a = 'hobby'
print(a.index('b')) # 없는 문자를 넣으면 오류가 남

2

In [58]:
# "구분자".join(시퀀스)
# 시퀀스(문자열, 리스트 등)의 각 요소 사이에 "구분자"를 넣어서 하나의 문자열로 만들어주는 메서드

print(" to the ".join('abcd'))

a to the b to the c to the d

In [60]:
# 소문자 대문자 바꾸기

a = "hi"
print(a.upper())

b = "HELLO"
print(b.lower())

HI
hello

In [64]:
# 공백 지우기

# 왼쪽 공백 지우기
a = " hi"
print(a.lstrip())

# 오른쪽 공백 지우기
a = "hello "
print(a.rstrip())

# 양쪽 공백 없애기
a = a = " hi "
print(a.strip())

hi
hello
hi

In [65]:
#  문자열 바꾸기

a = "Life is too short, You need Python"

print(a.replace("Life", "Your leg"))

Your leg is too short, You need Python

In [ ]:
# 문자열 나누기

a = "Life is too short"
print(a.split()) # 기본값이 띄어쓰기 기준으로 나눔

a = "a,b,c,d"
print(a.split(",")) # , 기준으로 나누기

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

## 리스트
- 데이터를 여러 개 묶어서 저장할 수 있는 자료형이에요. 쉽게 말해, 여러 값을 하나의 변수에 저장하고 싶을 때 사용
- 아무것도 포함하지 않아 비어 있는 리스트([])일 수도 있고, 
- 숫자를 요솟값으로 가질 수도 있으며, 
- 문자열을 요솟값으로 가질 수도 있다. 또한 
- 숫자와 문자열을 함께 요솟값으로 가질 수도 있고, 
- 리스트 자체를 요솟값으로 가질 수도 있다. 
- 즉, 리스트 안에는 어떠한 자료형도 포함할 수 있다.

In [70]:
odd = [1,3,5,7,9]
print(odd)
print(type(odd))

[1, 3, 5, 7, 9]
<class 'list'>

In [71]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

In [76]:
# 리스트의 인덱싱

a = [1,2,3]

print(a[0])
print(a[1])
print(a[1] + a[2])
print(a[-1])
print(a[-2])

1
2
5
3
2

In [79]:
a = [1,2,3,['a','b','c']]

print(a[3])
print(a[3][1])
print(a[-1][2])

['a', 'b', 'c']
b
c

In [82]:
# 리스트의 슬라이싱

a = [1,2,3,4,5]
print(a[::2])
print(a[:2])

[1, 3, 5]
[1, 2]

In [83]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])

[3, ['a', 'b', 'c'], 4]

In [ ]:
# 리스트 연산하기

a = [1,2,3]
b = [4,5,6]

print(a+b)
print(a * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [86]:
# 리스트 길이구하기

a = [1,2,3]

print(len(a))

3

In [ ]:
"""
a = [1,2,3]
print(a[2] + "hi") -> typeError
"""

a = [1,2,3]
print(str(a[2]) + "hi") # 자료형변환해줘야함

3hi

In [92]:
# 리스트 수정
a = [1,2,3]
a[2] = 4
print(a)

# 리스트 삭제
del a[0]
print(a)

a = [1, 2, 3, 4, 5]

del a[2:]
print(a)

[1, 2, 4]
[2, 4]
[1, 2]

## 리스트 관련 함수

In [94]:
# 리스테에 요소 추가하기

a = [1,2,3]
a.append(4)
a.append([5,6])

print(a)

[1, 2, 3, 4, [5, 6]]

In [96]:
# 리스트 정렬

a = [1,4,3,2]
a.sort() 

print(a)

a = ['a','c','b']
a.sort()

print(a)

[1, 2, 3, 4]
['a', 'b', 'c']

In [98]:
# 리스트 뒤집기

a = ['a','c','b']
a.reverse()
print(a) # 리스트 인덱스 거꾸로 ...

a.sort()
a.reverse()
print(a)

['b', 'c', 'a']
['c', 'b', 'a']

In [100]:
a = [1,2,3]

print(a.index(3))
print(a.index(1))

2
0

In [101]:
# 리스트 요소 삽입
# 몇번째에 어떤 값을 추가할 건지

a = [1,2,3]
a.insert(1,4) # 1 인덱스에 4 대입
print(a)

[1, 4, 2, 3]

In [102]:
# 리스트 요소 제거

a = [1,2,3,1,2,3]
a.remove(3) # 첫번째 3만 제거
print(a)

[1, 2, 1, 2, 3]

In [ ]:
# 리스트 요소 끄집어 내기

a = [1,2,3]
print(a.pop()) # 괄호 안에 인덱스 사용 가능.
print(a)

3
[1, 2]

In [104]:
# 요소 개수 세기
a = [1, 2, 3, 1]
print(a.count(1))

2

In [106]:
# 리스트 확장
# extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다.

# append
a = [1,2,3]
a.append([4,5])
print(a)


a = [1, 2, 3]
a.extend([4, 5])
print(a)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]