## 튜플

-  여러 값을 하나로 묶을 수 있는 파이썬의 자료형이야. 리스트와 비슷하지만 
- **한 번 만들면 수정할 수 없다는 특징(불변성)**

## Mutable
- 리스트
- 딕셔너리
- 집합

## Immutable
- 정수
- 실수
- 문자열
- 튜플

In [7]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

print(t1)
print(type(t1))
print(t2)
print(t3)
print(t3[2])
print(t4)
print(t5)
print(t5[2][0])

()
<class 'tuple'>
(1,)
(1, 2, 3)
3
(1, 2, 3)
('a', 'b', ('ab', 'cd'))
ab

In [6]:
t6 = (1,) # 요소가 1개일 때
t7 = 1,2,3,4,5 # 이것도 튜플이 된다
print(type(t7))

print(t6)
print(t7)

<class 'tuple'>
(1,)
(1, 2, 3, 4, 5)

In [ ]:
# 튜플 슬라이싱

t1 = (1,2,'a','b')

print(t1[1:])
print(t1)

(2, 'a', 'b')
(1, 2, 'a', 'b')

In [ ]:
# 튜플 덧셈

t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2 # t1, t2를 더해서 새로운 튜플 t3
print(t3)

(1, 2, 'a', 'b', 3, 4)

In [12]:
# 튜플 곱셈

t2 = (3, 4)
t3 = t2 * 3

print(t3)

(3, 4, 3, 4, 3, 4)

In [13]:
t1 = 1,2,3,4

print(len(t1))

4

## 딕셔너리

- 딕셔너리는 **키(key)와 값(value)** 의 쌍으로 데이터를 저장하는 파이썬의 자료형이야. 
- 마치 영어 단어 사전처럼, “단어(키)”를 넣으면 “뜻(값)”이 나오는 구조

In [15]:
dic = {'name':'마루', 'phone':'010-1234-1234','birth':'1221','hobby':["산책",'낮잠']}
print(dic)

{'name': '마루', 'phone': '010-1234-1234', 'birth': '1221', 'hobby': ['산책', '낮잠']}

In [ ]:
# 딕셔너리 요소 추가

a = {1:'a'}
a[2] = 'b'
a['key'] = 'value'
a['3'] = ['L',"I",'S','T']

print(a)

{1: 'a', 2: 'b', 'key': 'value', '3': ['L', 'I', 'S', 'T']}

In [19]:
# 삭제

a = {1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

del a['name'] # key를 입력해서 지움

print(a)

{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [21]:
# key를 사용해서 value 얻기

grade = {'pay':10, 'julliet':99}
print(grade['pay'])

10

In [23]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

print(dic['name'], dic['phone'])

pey 010-9999-1234

In [ ]:
# Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다는 점에 주의
a = {1:'a', 1:'b'}

print(a) # 덮어쓰여져 뒤에 하나만 출력된다.

{1: 'b'}

In [26]:
# Key에 리스트는 쓸 수 없다는 것이다. 하지만 튜플은 Key로 쓸 수 있다
# 딕셔너리의 Key로 쓸 수 있느냐, 없느냐는 Key가 변하는(mutable) 값인지, 변하지 않는(immutable) 값인지에 달려 있다. 

a = {('a','b') : 80, 'c' : 90}
print(a)

{('a', 'b'): 80, 'c': 90}

In [ ]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

print(a.keys()) # dict_keys 데이터 타입 형태로 key 출력, list보다 메모리 적게됨.

dict_keys(['name', 'phone', 'birth'])

In [ ]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

print(a.values()) # dict_values 데이터 타입 형태로 value 출력

dict_values(['pey', '010-9999-1234', '1118'])

In [ ]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

print(a.items()) # dict_items 데이터 타입 형태 key와 value 쌍으로 얻기

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [ ]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

print(a.clear()) # 값 다 날리기

None

In [35]:
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

print(a['name'])
print(a.get('name'))
print(a.get('hi')) # None이 나온다
print(a.get('hi','값이 없습니다')) # 없으면 뒤의 문자열이 나온다
print(a.get('phone','값이 없습니다'))

pey
pey
None
값이 없습니다
010-9999-1234

In [37]:
# 해당 키가 딕셔너리에 있는지 확인하기
a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}

print('name' in a)
print('hi' in a)

True
False

## 집합
- 중복을 허용하지 않고, 순서가 없는 자료형

In [ ]:
s1 = set([1, 2, 3]) # 리스트를 set으로 바꾼것
s2 = {1,2,3}
print(type(s1))
print(type(s2))

<class 'set'>
<class 'set'>

In [61]:
l1 = [1,1,2,2,2,3,3,3,3,4,4,5]
s1 = set(l1)
print(s1)

{1, 2, 3, 4, 5}

In [42]:
s1 = set("hello")
print(s1)
print(type(s1))

{'e', 'l', 'h', 'o'}
<class 'set'>

In [43]:
s1 = set([1,2,3])
l1 = list(s1)
print(l1[0])

1

In [48]:
s1 = set([1,2,3])
t1 = tuple(s1)
print(t1)

(1, 2, 3)

In [50]:
# 교집합 구하기
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 & s2)

print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [52]:
# 합집합 구하기

s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
# 차집합 구하기

s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}

In [59]:
# 더하기
s1 = set([1, 2, 3])
s1.add(4)
print(s1)

# 여러 개 추가하기
s1 = set([1, 2, 3])
s1.update([4,4,5,6])
print(s1)

# 특정값 제거
s1.remove(2) # 값이다 인덱스 아님. 집합은 인덱스 없음
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

## 불(boolean) 자료형

-  참(True) 또는 **거짓(False)**을 나타내는 자료형이야. 조건문, 비교 연산, 논리 연산 등에서 아주 많이 사용돼.

In [63]:
a = True
print(type(a))

b = False
print(type(b))

<class 'bool'>
<class 'bool'>

In [66]:
a = 1 == 1
print(a)

b = 1 == 2
print(b)

print(4 < 5)

True
False
True

## 자료형의 참과 거짓

- "python"	: 참
- ""	: 거짓
- [1, 2, 3]	: 참
- []	: 거짓
- (1, 2, 3)	: 참
- ()	: 거짓
- {'a': 1}	: 참
- {}	: 거짓
- 1	: 참
- 0	: 거짓
- None	: 거짓

In [67]:
a = [1,2,3,4]
while a:
    print(a)
    a.pop()

[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]

In [69]:
if [] :
    print('참')
else :
    print('거짓')


if [1,2,3] :
    print('참')
else :
    print('거짓')

거짓
참

In [72]:
a = bool([1,2,3])
b = bool([])
print(a)
print(b)

True
False

In [74]:
print(bool(0))
print(bool(1))

False
True

## 변수

- a = 1 이라면...
- 값을 담는 상자라고 생각
- 주소값을 a라는 상자에 넣는 것이고 메모리에 실제적인 값(1)이 들어가 있다
- 메모리의 특정 주소값에 값이 있는것이다

### GPT 정리
✅ a = 1의 진짜 의미
값 1이 메모리에 먼저 생성된다.

파이썬은 숫자 1을 객체로 만들고, 메모리에 저장함.

변수 a는 ‘1’을 가리키는 이름표 역할을 한다.

a는 메모리 주소를 저장하는 **참조(reference)**임.

즉, a는 1이라는 값이 저장된 메모리 주소를 가리킴.

In [ ]:
a = [1,2,3] # [1,2,3]의 값의 주소가 a에 할당이된다.
b = a # 주소값을 b에 넣는다.
c = a[:] # 새로 복사한 값의 주소값 ?

print(id(a))
print(id(b))


a[1] = 4

# a와 b가 같은 주소를 할당받고 있어서 같은 결과가 나온다.
print(a)
print(b)
print(c)

2228520555712
2228520555712
[1, 4, 3]
[1, 4, 3]
[1, 2, 3]

In [81]:
from copy import copy

a = [1,2,3]
b = copy(a) # a라는 리스트 자체를 복사해줌

print(id(a))
print(id(b))

2228520070208
2228513219648

In [ ]:
'''
a = 'python'
b = 'life'
'''

a, b = ('python', 'life') # 양쪽 모두 튜플

print(a)
print(b)

python
life

In [83]:
[a, b] = ['python', 'life'] # 양쪽 모두 리스트

print(a)
print(b)

python
life

In [84]:
a = b = 'python'

print(a)
print(b)

python
python

In [85]:
a = 3
b = 5

# 두 변수의 값을 바꾸고싶다면.. ?
a,b = b,a

print(a)
print(b)

5
3