# 숫자형 (Number)
- 숫자 형태로 이루어진 자료형

## 숫자형은 어떻게 만들고 사용할까?
---
### 정수형 (integer)
- 정수를 뜻하는 자료형
- 양의 정수와 음의 정수, 숫자 0

### 실수형 (floating-point)
- 소수점이 포함된 숫자
- '컴퓨터식 지수 표현 방식'
  - e와 E 둘 중 어느 것을 사용
  ```python
  >>> a = 4.24E10
  >>> a = 4.24e-10
  ```

In [2]:
# 정수형
a = 123
b = 456

print(f'{a} : {type(a)}')
print(f'{b} : {type(b)}')

123 : <class 'int'>
456 : <class 'int'>

In [4]:
# 실수형
a = 1.2
b = -3.14

print(f'{a} : {type(a)}')
print(f'{b} : {type(b)}')

1.2 : <class 'float'>
-3.14 : <class 'float'>

In [6]:
a = 4.24e10 # 4.24*10^10
b = 4.24e-10 # 4.24*10^-10

print(f'{a} : {type(a)}')
print(f'{b} : {type(b)}')

42400000000.0 : <class 'float'>
4.24e-10 : <class 'float'>

In [7]:
# 8진수 16진수
# 8진수(octal)를 만들기 위해서는 숫자가 0o 또는 0O(숫자 0 + 알파벳 소문자 o 또는 대문자 O)으로 시작
a = 0o177
print(a)

# 16진수(hexadecimal)를 만들기 위해서는 0x로 시작
a = 0x8ff
b = 0xABC

print(a)
print(b)

127
2303
2748

In [8]:
# 사칙연산
a = 3
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
-1
12
0.75

In [9]:
# 제곱 연산자
print(a**b)

# 나머지 연산자
print(a%b)

# 몫 연산자
print(a//b)

# 복합 연산자 (+=, -=, *=, /=, //=, %=, **=)
a += 1 # a = a+1
print(a) # 4

81
3
0
4

# 문자열(string)
-  연속된 문자들의 나열

In [10]:
# 문자열 만들기
a = "Hello World"
b = 'Hello World'
print(a)
print(b)

Hello World
Hello World

In [11]:
# 따옴표 출력하기
print("Python's favorite food is perl")
print('"Python is very easy." he says.')
print('Python\'s favorite food is perl')
print("\"Python is very easy.\" he says.")

Python's favorite food is perl
"Python is very easy." he says.
Python's favorite food is perl
"Python is very easy." he says.

In [12]:
# 여러 줄 변수에 대입하기

multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [13]:
multiline='''
Life is too short
You need python
'''

print(multiline)

Life is too short
You need python

In [15]:
# 문자열 연산

head = 'Python'
tail = 'is fun!'

print(head + tail)
print(head *2)

Pythonis fun!
PythonPython

In [16]:
# 문자열 길이 구하기

a = "Life is too short"
print(len(a))

17

In [18]:
# 문자열 인덱싱
# 파이썬은 0부터 숫자를 센다.

a = "Life is too short, You need Python"
print(a[3]) # e
print(a[0]) # L
print(a[12]) # s
print(a[-1]) # n
print(a[-2]) # o
print(a[-5]) # y

e
L
s
n
o
y

In [20]:
# 문자열 슬라이싱

a = "Life is too short, You need Python"
print(a[:4]) # Life
print(a[0:3]) # Lif
print(a[:5]) # 'Life '
print(a[5:7]) # is
print(a[12:17]) # short
print(a[19:]) # You need Python
print(a[:]) # Life is too short, You need Python
print(a[19:-7]) # You need

Life
Lif
Life
is
short
You need Python
Life is too short, You need Python
You need

In [22]:
# 슬라이싱으로 문자열 나누기

a = "20230331Rainy"
date = a[:8]
year = a[:4]
day = a[4:8]
weather = a[8:]

print(f'date : {date}')
print(f'year : {year}')
print(f'day : {day}')
print(f'weather : {weather}')

date : 20230331
year : 2023
day : 0331
weather : Rainy

In [23]:
# 문자열을 '변경 불가능한(immutable) 자료형'
a = "Pithon"
a[1] = 'y' # 오류남

print(a)

TypeError: 'str' object does not support item assignment

In [24]:
a = "Pithon"
print(a[:1] + 'y' + a[2:])

Python

In [28]:
# 문자열 포매팅 (string formatting)
# 문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해 주는 것

# 숫자 바로 대입
print('I eat %d apples.'% 3)

# 문자열 바로 대입
print('I eat %s apples. % five')

# 숫자 값을 나타내는 변수로 대입
num = 5
print('I eat %d apples.' % num)

# 2개 이상의 값 넣기
number = 5
day = 'three'
print('I eat %d apples. so I was sick for %s days.' % (number, day))

I eat 3 apples.
I eat %s apples. % five
I eat 5 apples.
I eat 5 apples. so I was sick for three days.

| 코드 | 설명 |
|:----:|:----:|
|%s|문자열(String)|
|%c|문자 1개(character)|
|%d|정수(Integer)|
|%f|부동소수(floating-point)|
|%o|8진수|
|%x|16진수|
|%%|Literal % (문자 % 자체)|

- `%s` 포맷 코드인데, 이 코드에는 어떤 형태의 값이든 변환해 넣을 수 있다

In [31]:
# 포맷 코드와 숫자 함께 사용하기

# 정렬과 공백
# 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미
print('%10s' % 'Hi')

# 왼쪽 정렬은 %-10s
print('%-10s' % 'Hi')
print('%-10sJane' % 'Hi')

        Hi
Hi
Hi        Jane

In [34]:
# 소수점 표현하기
print('%0.4f' % 3.42134234) # 소수점 포인트, 그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수를 말한다.
print('%.4f' % 3.42134234)

print('%10.4f' % 3.42134234) # 소수점 네 번째 자리까지만 표시하고 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬

3.4213
3.4213
    3.4213

In [50]:
# format 함수를 사용

# 숫자 바로 대입하기
print('I eat {0} apples.'.format(5))

# 문자열 바로 대입하기
print('I eat {0} apples.'.format('five'))

# 속성값을 가진 변수 대입하기
number = 3
print('I eat {0} apples'.format(number))

# 2개 이상의 값 넣기
number = 10
day = 'three'
print('I eat {0} apples. so I was sick for {1} days.'.format(number, day))

# 이름으로 넣기
print('I eat {number} apples. so I was sick for {day} days.'.format(number=5, day='three'))

# 인덱스와 이름을 혼용해서 넣기
print("I ate {0} apples. so I was sick for {day} days.".format(10, day=3))

# 왼쪽 정렬
# `:<10` 표현식을 사용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞춤
print('{0:<10}'.format('hi'))

# 오른쪽 정렬
# :>을 사용
print('{0:>10}'.format('hi'))

# 가운데 정렬
# :^를 사용하면 가운데 정렬
print('{0:^10}'.format('hi'))

# 공백 채우기
print('{0:=^10}'.format('hi'))
print('{0:!<10}'.format('hi'))

# 소수점 표현하기
y = 3.42134234
print('{0:0.4f}'.format(y)) # 소수점을 4자리까지만 표현
print('{0:10.4f}'.format(y))

# 포매팅 문자가 아닌 문자 그대로 사용하고 싶은 경우
print('{{ and }}'.format())

I eat 5 apples.
I eat five apples.
I eat 3 apples
I eat 10 apples. so I was sick for three days.
I eat 5 apples. so I was sick for three days.
I ate 10 apples. so I was sick for 3 days.
hi
        hi
    hi
====hi====
hi!!!!!!!!
3.4213
    3.4213
{ and }

In [62]:
# f 문자열 포매팅
name = '홍길동'
age = 30

print(f'나의 이름은 {name} 입니다. 나이는 {age}살 입니다')
print(f'나는 내년이면 {age + 1}살 입니다.')

d = {'name':'홍길동', 'age':30}
print(f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.')

# 정렬
print(f'{"hi":<10}') # 왼쪽 정렬
print(f'{"hi":>10}') # 오른쪽 정렬
print(f'{"hi":^10}') # 가운데 정렬

# 공백 채우기
print(f'{"hi":=^10}')
print(f'{"hi":!<10}')

# 소수점 표현
y = 3.42134234
print(f'{y:0.4f}') # 소수점 4자리까지만 표현
print(f'{y:10.4f}') # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

# 중괄호 사용하기
print(f'{{ and }}')

# 금액 콤마 사용하기
print(f'{1500000:,}')

나의 이름은 홍길동 입니다. 나이는 30살 입니다
나는 내년이면 31살 입니다.
나의 이름은 홍길동입니다. 나이는 30입니다.
hi
        hi
    hi
====hi====
hi!!!!!!!!
3.4213
    3.4213
{ and }
1,500,000

In [83]:
# 문자열 관련 함수들

# 문자 개수 세기
a = 'hobby'
print(a.count('b'))

# 위치 알려주기 1
a = "Python is the best choice"
print(a.find('b')) #  b가 처음으로 나온 위치를 반환
print(a.find('k')) # 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환

# 위치 알려주기 2
a = "Life is too short"
print(a.index('t'))
# print(a.index('t')) 만약 찾는 문자나 문자열이 존재하지 않는다면 오류가 발생

# 문자열 삽입
# join 함수로 abcd 문자열의 각각의 문자 사이에 ','를 삽입
print(",".join('abcd'))
# join 함수 리스트에 사용해보기
print(",".join(['a', 'b', 'c', 'd']))

# 소문자를 대문자로 바꾸기
a = 'hi'
print(a.upper())

# 대문자를 소문자로 바꾸기
a = 'Hi'
print(a.lower())
print('='*30)

# 왼쪽 공백 지우기
a = ' hi'
print(a)
print(a.lstrip())

# 오른쪽 공백 지우기
a = 'hi '
print(a+'python')
print(a.rstrip()+'python')

# 양쪽 공백 지우기
a = ' hi '
print(a)
print(a.strip())

# 문자열 바꾸기
a = "Life is too short"
print(a.replace("Life", "Your leg"))

# 문자열 나누기
a = "Life is too short"
print(a.split())

# 문자열이 알파벳으로만 구성되어 있는지 확인하기
s = "Python"
print(s.isalpha()) # True

s = 'python3'
print(s.isalpha()) # False

s = 'Hello World'
print(s.isalpha()) # False

# 문자열이 숫자로만 구성되어 있는지 확인하기
s = "12345"
print(s.isdigit()) # True

s = '123a'
print(s.isalpha()) # False

s = '12 12'
print(s.isalpha()) # False

# 문자열이 특정 문자(열)로 시작하는지 확인하기
s = "Life is too short"
print(s.startswith('Life')) # True
print(s.startswith('short')) # False

# 문자열이 특정 문자(열)로 끝나는지 확인하기
print(s.endswith('short')) # True
print(s.endswith('too')) # False

2
14
-1
8
a,b,c,d
a,b,c,d
HI
hi
==============================
 hi
hi
hi python
hipython
 hi
hi
Your leg is too short
['Life', 'is', 'too', 'short']
True
False
False
True
False
False
True
False
True
False

### join함수
- join 함수는 문자열뿐만 아니라 앞으로 배울 리스트나 튜플도 입력으로 사용할 수 있다

### split
- 괄호 안에 아무 값도 넣어 주지 않으면 공백(`[Space]`, `[Tab]`, `[Enter]`)을 기준으로 문자열을 나누어 준다.
-  만약 `b.split(':')`처럼 괄호 안에 특정 값이 있을 경우에는 **괄호 안의 값을 구분자로 해서 문자열을 나누어** 준다.
- 나눈 값은 **리스트**에 하나씩 들어간다.

---
## 주의 ⚠️
- 문자열 자체의 값이 변경되는 것이 아니라 변경된 값을 반환한다는 사실에 주의

# 리스트
-  대괄호([])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
- 비어 있는 리스트([]) 가능
- 숫자를 요솟값으로 가질 수도 있으며,
- 문자열을 요솟값으로 가질 수도 있다.
- 숫자와 문자열을 함께 요솟값으로 가질 수도 있고,
- 리스트 자체를 요솟값으로 가질 수도 있다.

In [88]:
# 리스트 인덱싱
a = [1, 2, 3]
print(a[0])
print(a[1])
print(a[-1])
print(a[0] + a[2]) # 4

a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])
print(a[-1])
print(a[3])
print(a[-1][0]) # a
print(a[-1][1]) # b
print(a[-1][2]) # c

# 삼중리스트 인덱싱
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print(a[-1][-1][0])

1
2
3
4
1
['a', 'b', 'c']
['a', 'b', 'c']
a
b
c
Life

In [99]:
# 리스트 슬라이싱
a = [1, 2, 3, 4, 5]
print(a[:2]) # 1,2

b = a[:2] # [1,2]
c = a[2:] # [3,4,5]

# 중첩된 리스트에서 슬라이싱하기
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5]) # [3,['a', 'b', 'c'], 4]
print(a[3][:2]) # ['a','b']

# 리스트 연산하기
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b) # [1, 2, 3, 4, 5, 6]
print(a * 3) # [1, 2, 3, 1, 2, 3, 1, 2, 3]

# 리스트 길이 구하기
print(len(a)) # 3

# 리스트 수정과 삭제
# 리스트는 값을 수정하거나 삭제할 수 있다.
a = [1, 2, 3]
a[2] = 4
print(a) # [1,2,4]

# del을 사용해 리스트 요소 삭제
del a[1]
print(a) # [1,4]

a = [1, 2, 3, 4, 5]
del a[2:]
print(a) # [1,2]

[1, 2]
[3, ['a', 'b', 'c'], 4]
['a', 'b']
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3
[1, 2, 4]
[1, 4]
[1, 2]

In [116]:
# 리스트 관련 함수

# 리스트에 요소 추가하기
a = [1,2,3]
print(a)

# insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수
a = [1, 2, 3]
a.insert(0,4)
print(a)

a = [1,2,3]

a.append(4)
print(a)

a.append([5,6])
print(a)

# 리스트 정렬
a = [1,4,3,2]
a.sort()
print(a)

a = ['a', 'c', 'b']
a.sort()
print(a)

# 리스트 뒤집기
# 현재의 리스트를 그대로 거꾸로
a = ['a', 'c', 'b']
a.reverse()
print(a)

# 인덱스 반환
a = [1, 2, 3]
print(a.index(3)) # 2

# 리스트 요소 제거
# remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제하는 함수
a = [1, 2, 3, 1, 2, 3]
print(a)
a.remove(3)
print(a)

# 리스트 요소 끄집어 내기
a = [1, 2, 3]
print(a)
print(a.pop())
print(a)

# 리스트에 포함된 요소 x의 개수 세기
a = [1, 2, 3, 1]
print(a.count(1))

# 리스트 확장
a = [1, 2, 3]
print(a)
a.extend([4, 5])
print(a)

b = [6, 7]
a.extend(b)
print(a)

[1, 2, 3]
[4, 1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4]
['a', 'b', 'c']
['b', 'c', 'a']
2
[1, 2, 3, 1, 2, 3]
[1, 2, 1, 2, 3]
[1, 2, 3]
3
[1, 2]
2
[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]